<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>
    <!-- navigation panel -->
<header>
    <div class="div-left"><!-- logo -->
        <img src="../assets/_images/place-holder-circle.png" width="56px" class="logo" >
    </div>
    
    <div class="div-left"> <!-- text nav -->
        <ul class="nav-panel">
            <li>Um texto ai</li>
            <li>Link dos bglh la</li>
            <li>mais coisa</li>
            <li>aaaaaaaaaaaaaaa</li>
        </ul>
    </div><!--perfil / seta -->
        <ul class="perfil">
            <li><img src="../assets/_images/place-holder-circle.png" width="56px" class="imagem"></li>
            <li><img src="../assets/_images/place-holder-circle.png" width="56px" class="imagem"></li>
        </ul>
</header>

    <div> <!-- bottom -->
        
    </div>

</body>
</html>