
.nav {
    background-color: black;
    margin: -12px 20px 10px;
    border: 5px solid red;
    padding-bottom: 20px;
    position: relative;
    display: flex;
}

.nav li {
    color: white;
    list-style: none;
    display: inline-block;
}